html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.card {
    background-color: white;
    
    min-width: 25%;
    min-height: 50vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;

    
}

.img-back-ground {
    min-width: 100%;
    height: 130px;
    border-radius: 20px 20px 0 0;
}

.profile-photo {
    border-radius: 50%;
    max-width: 50%;
    border: 6px solid white;
    position: relative;
    top: -55px;
    padding: 0;
    margin: 0;
}

.name {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.age {
    font-weight: 400;
}

.stats {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid hsl(0, 0%, 59%);
}
ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

.darkblue {
    font-size: 20px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.darkgraysh {
    color: hsl(227, 10%, 46%);
}

.attribution {
    display: block;
}